<ion-content class="background-image" [fullscreen]="true">
  <ion-card>
    <ion-label> 
      <img class="tarLogo" src="../../../assets/img/logo.png" alt="">
      <h1 class="ion-margin texto"   >Bienvenido Amigo/a</h1>
    </ion-label>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="texto">Iniciar como Conductor</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="credentials" (ngSubmit)="login()">
          <ion-item>
            <ion-label position="floating">Ingrese Usuario</ion-label>
            <ion-input type="email" placeholder="Correo Electrónico" formControlName="email"></ion-input>
            <ion-note slot="error" *ngIf="(email?.dirty || email?.touched) && email?.errors">Email no válido</ion-note>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Ingrese Contraseña</ion-label>
            <ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
            <ion-note slot="error" *ngIf="(password?.dirty || password?.touched) && password?.errors">Password debe tener al menos 6 caracteres</ion-note>
          </ion-item>
        <br>
        <ion-button expand="block" shape="block" type="submit" [disabled]="!credentials.valid">Iniciar Sesión</ion-button>
        <ion-button expand="block" type="button" (click)="register()">Registrarse</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
