.img-logo{
    width: 2em;
    position: absolute;
    top: 0.2em;
    right: 1em;
}
.tamaño{
    font-size:large;
  }

ion-content.background-image{
    --background: url('../../../assets/img/fondo.png') no-repeat 100% 100%;
  }